.container{
    max-width: 1200px;
    width: 100%;
    height: 1200px;
    background-color: red;
    margin: 5px;
}

.d-flex{
    display: flex;
}

.container{
    flex-direction: column;
    justify-content: space-between;
    }
.part1-1, .part1-2{
    justify-content: space-between;
}
.pink1{
    justify-content: center;
    align-items: center;
}

header div {
    flex: 0 0 auto;
   }

header{
    overflow-x: auto;
    align-items: center;
}
.part2-2{
    flex-direction: row;
}

aside div {

    flex: 0 0 auto;
}

aside{
    flex-direction: column;
    overflow-y: auto;
        align-items: center;
}
.part3-1{
    flex-direction: column;
}

.part3-2{
    flex-direction: row;
    justify-content: space-evenly;
}

.colomn:nth-of-type(1) {
    flex-direction: column;
    overflow-y: auto;
}

.colomn:nth-of-type(3) {
    flex-direction: column;
    overflow-y: auto;
}

.colomn:nth-of-type(4) div {
       flex: 0 0 auto;
}

.colomn:nth-of-type(4) {
    flex-direction: row;
    overflow-x: auto;
    flex: 0 0 auto;
}