.header1, .header2{
    background-color: aqua;
    width: calc(100% - 10px);
height: 50px;
    }
.part3-2{
    background-color: grey;
}

.colomn{
    background-color: chartreuse;
    margin: 5px;
    width: 24%;
    height: 1000px;
}
.colomn div{
    background-color: purple;
    width: 150px;
    height: 200px;
    margin: 10px;
}

.colomn:nth-of-type(2) div{
    background-color: black;
    width: 150px;
    height: 200px;
    margin: 10px;
}

.colomn:nth-of-type(3) div{
    background-color: coral;
    width: 150px;
    height: 200px;
    margin: 10px;
}

.colomn:nth-of-type(4) div{
    background-color: orangered;
    width: 150px;
    height: 200px;
    margin: 10px;
}