header{
    background-color: orange;
    height: 120px;
    margin: 5px;
}

header div{
    background-color: yellow;
    height: 80px;
    width: 150px;
    margin: 5px;
}

aside{
    width: 200px;
    height: 1050px;
    background-color: blue;
}
.something{
    width: calc(100% - 200px);
    height: 1050px;
    background-color: purple;
    margin: 5px;
}

aside div{
    background-color: yellow;
    height: 150px;
    width: 150px;
    margin: 5px;
}