.pink1{
    background-color: pink;
    width: 150px;
    height: 150px;
    margin: 10px;
}
.green1{
    background-color: green;
    width: 50px;
    height: 50px;
}
.blue1{
    background-color: blue;
    width: 70px;
    height: 70px;
    margin: 10px;
}

.part1-2{
    float: end;
}
